[syntax]
default = {{ colors.fg }}
comments = {{ colors.subtext }}
variables = {{ colors.blue_light }}
constants = {{ colors.red_light }}
parameters = {{ colors.green_light }}
functions = {{ colors.blue_light }}
classes = {{ colors.cyan_light }}
keyword = {{ colors.red }}
operator = {{ colors.pink_light }}
number = {{ colors.red_light }}
type = {{ colors.cyan_light }}
attributes = {{ colors.red_light }}
string = {{ colors.yellow }}
link = {{ colors.blue }}
property = {{ colors.pink_light }}

[ui]
bg = {{ colors.bg }}
bg2 = {{ colors.bg2 }}
bg3 = {{ colors.bg3 }}
accent = {{ colors.blue_light }}
accent2 = {{ colors.blue }}
subtext = {{ colors.subtext }}
text = {{ colors.text }}
invis = #00000000


[priority]
high = {{ colors.red_light }}
medium = {{ colors.yellow_light }}
low = {{ colors.green_light }}


[terminal]
black = {{ colors.bg2 }}
black_light = {{ colors.bg3 }}
white = {{ colors.text }}
white_light = {{ colors.fg }}
pink = {{ colors.pink }}
pink_light = {{ colors.pink_light }}
red = {{ colors.red }}
red_light = {{ colors.red_light }}
yellow = {{ colors.yellow }}
yellow_light = {{ colors.yellow_light }}
green = {{ colors.green }}
green_light = {{ colors.green_light }}
cyan = {{ colors.cyan }}
cyan_light = {{ colors.cyan_light }}
blue = {{ colors.blue }}
blue_light = {{ colors.blue_light }}

