@import "../themes/dork.scss";


// GENERAL

* {
    all: unset; //Unsets everything so you can style everything from scratch
}

.background {
    background-color: $bg;
    border-radius: 12px;
}


// DASH





// WORKSPACES

.ws-holder {
    padding-left: 2px;
    padding-right: 2px;
}


.ws {
    //background-color: $bg;
    font-size: 21;
    margin-top: 3px;
    border: 0;
    color: $mic-muted;
}


.ws-active {
    color: $text;
}

.ws-1 {
    color: $ws1;
}

.ws-2 {
    color: $ws2;
    
}

.ws-3 {
    color: $ws3;
    
}

.ws-4 {
    color: $ws4;
    
}


// MONITORS


.mon-box {
    padding-left: 6px;
    padding-right: 6px;
}

.monitor {
    font-size: 18;
    margin-top: 2px;
    margin-left: 6px;
    margin-right: 6px;
    font-family: 'Icomoon Feather';
}

.volume {
    color: $volume;
}

.wifi {
    color: $memory;
}

.battery {
    color: $power;
    font-size: 25;
    margin-left: 10px;
}

.hidden {
    margin-right: 8px;
    margin-top: 0px;
    opacity: 0.75;
    font-size: 18;
}


// CLOCK


// CALENDAR


