$bg: {{ colors.bg }};
$section-bg: {{ colors.bg2 }};
$fg: {{ colors.bg3 }};

$text: {{ colors.text }};
$font: "noto sans mono";

$uptime: {{ colors.subtext }};
$update: {{ colors.cyan }};

$button-hover: #575252;
$button-on-hover: {{ colors.blue }};
$toggle-on: {{ colors.blue_light }};

$power: {{ colors.yellow }};
$memory: {{ colors.cyan }};
$storage: {{ colors.red_light }};

$rounding: {{ settings.rounding }};

$ws1: {{ colors.red }};
$ws2: {{ colors.yellow }};
$ws3: {{ colors.pink }};
$ws4: {{ colors.green }};

$volume: {{ colors.pink_light }};
$mic: {{ colors.cyan }};
$mic-muted: {{ colors.subtext }};
$brightness: {{ colors.yellow }};

$song:  {{ colors.pink_light }};
$artist: {{ colors.yellow }};
$music-controls: {{ colors.fg }};
$music-play-pause: {{ colors.yellow_light }};
$music-controls-hover: {{ colors.subtext }};

$folder1: {{ colors.pink_light }};
$folder2: {{ colors.cyan }};
$folder3: {{ colors.yellow }};
$folder4: {{ colors.red_light }};
$folder-hover: {{ colors.subtext }};