

foreground {{ colors.fg }}
background {{ colors.bg }}

cursor {{ colors.blue_light }}
url_color {{ colors.blue_light }}

background_opacity 0.98
# background_image none
# background_image_layout tiled
# background_image_linear no
# dynamic_background_opacity no
# background_tint 0.0
# dim_opacity 0.75

selection_foreground #f1f1f1
selection_background #3b3741

# black
color0       {{ colors.bg2 }}
color8       {{ colors.bg3 }}

# red
color1       {{ colors.red }}
color9       {{ colors.red_light }}

# green
color2       {{ colors.green }}
color10      {{ colors.green_light }}

# yellow
color3       {{ colors.yellow }}
color11      {{ colors.yellow_light }}

# blue
color4       {{ colors.blue }}
color12      {{ colors.blue_light }}

# magenta
color5       {{ colors.pink }}
color13      {{ colors.pink_light }}

# cyan
color6       {{ colors.cyan }}
color14      {{ colors.cyan_light }}

# white
color7       {{ colors.text }}
color15      {{ colors.subtext }}

